body{background-color: rgba(0,0,0,0.7);}
.panel{text-transform: uppercase;background-color: #f5f5f5;font-family: 'Lato',sans-serif;position: relative;max-width: 400px;margin:200px auto;border-radius: 13px;border:3px solid #000;}
form{padding:20px;}
.cabecalho{text-align: center;color: #FFF;padding: 45px;background-color: #000;}
.inputs{border-radius: 3px;border: 1px solid #DDD;display: block;margin:25px 0;width:100%;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;outline: none;text-transform: uppercase;font-size: 15px;font-family: 'Verdana';height:30px;}/*WEB-KIT(BOX-SIZING)*/
input[type = submit]{background-color: #000;padding: 8px 15px;border-radius: 2px;color: #FFF;font-weight: 600px;font-family: arial;margin:6px 0 0;border-bottom: 3px solid #049ce4;border:0;cursor: pointer;}
.usuario{background-color: #f5f5f5;border-radius: 50%;width: 90px; height: 90px;position: absolute;top: -70px; left: 0; right: 0;margin:auto;border:1px solid #9e9e9e;}
span{margin-top: 25px;display: block;}
.texto{background-color: #000;width: 100%;height: 100px;color: #FFF;text-align: center;font-size: 40px;}
/*Cadastrar*/
.panel-cadastro{text-transform: uppercase;background-color: #f5f5f5; position:relative;max-width: 400px;border-radius: 13px;border: 1px solid #FFF;margin:auto;}
.cabeca{text-align: center;color: #FFF;padding: 25px;background-color: #000;}
.inputs-cadastro{border-radius: 3px; border: 1px solid #DDD; display: block;margin: 5px 5;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none;height: 20px;}
.forms {float: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none;}
.forms2{display: block;float: right;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: none;}

a{text-decoration: none;color:#000;}
a:hover{color: #FFF;}
pre{font-size: 30px;}
